# ios
ios/build
*.xcconfig

# Fastlane
*/fastlane/README.md
*/fastlane/report.xml

# Firebase
firebase_options.dart
google-services.json
GoogleService-Info.plist
firebase.json

# Env
lib/.env
flavorizr.yaml

# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/*
!runConfigurations

# VS Code
.vscode/*
!launch.json
!snippets.code-snippets

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
